body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #5a5a5a;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #4b54e1;
}

#result {
    display: none; /* Initially hide the result */
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 300px; /* Set a maximum height for the result div */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto; /* Prevent horizontal scrolling */
}

h2 {
    margin-top: 30px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

/* Responsive styling */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    button {
        font-size: 14px;
    }

    input[type="number"] {
        font-size: 14px;
    }
}
